DATABASE_URL="postgresql://postgres:postgres123@postgres:5432/clock_system?schema=public"

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres123
POSTGRES_DB=clock_system

NEXTAUTH_URL="http://localhost:3000"
# Run `openssl rand -base64 32` to generate a secure secret
NEXTAUTH_SECRET="e9729b8c6fa33c64c7857be91307b22a"

NODE_ENV=development
